

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
  margin-bottom: 0;
}

.nav a {
  text-decoration: none;
  color: lightgray;
}

.nav a:hover {
  color: rgb(236, 152, 166);
  background-color: beige;
  text-decoration: none;
}

.top-background {
  background-image: url('https://delivery.gettyimages.com/downloads/1421422160?k=20&e=VjNoMQKwW8mq9o28LdV7_GSrTpGRkTrFE3M2LKwx5tLV10-C9PpKz8SMw2xSQDlk9spZB3uBEIfN2PfWi_NgtwjXPBm7k7xasLVTvmsbBlc='); 
  background-size: cover; 
  background-position: center; 
  height: 350px; 
  width: 100%;
  /* position: relative; */
  margin-top: 0;
}

.headshot {
  border-radius: 50%; 
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  margin-left: 0; 
  display: block; 
  margin-top: 25px;
}

.designer {
  display: flex;
}

.text {
  display: block;
}

.carousel-container {
  position: relative;
  width: 600px; /* Set the width of the carousel */
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Set the height of the carousel */
}

.carousel img {
  width: 100%; /* Make sure the image fills the container */
  height: auto;
  border-radius: 10px;
}

/* Styling for the navigation buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}